# Editors.
*.sw*
.vscode
.DS_Store
.idea
.vs

# Build directory.
cmake-build-*/
out/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app